/* 表格样式 */
/* 清空表格默认样式 */
table{
    background-color: transparent;
    border-collapse: collapse;
    border: 0;
}
th{
    font-weight: bold;
    color: #909399;
}
.jc-table{
    margin-bottom: 80px;
    width: 100%;
    min-width: 100%; 
}
.jc-table td{
    border: 1px solid #e0e0e0;
    color: #606266;
    padding: 10px 0px 10px 15px;
}
.jc-table>thead>tr>th{
    padding: 10px 0px 10px 15px;
    text-align: left;
    font-weight: 500;
    color: #606266;
}
.jc-table>tbody>tr>td{
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
/* 增加列的表格 */
.jc-table-column>tbody>tr>td{
    border-right: 1px solid #e0e0e0;
}
.jc-table-column>tbody>tr>td:last-child{
    border-right: 1px solid transparent;
}
/* 添加背景的颜色 */
.jc-table-striped>tbody>tr:nth-of-type(even){
    background-color: #ccc;
}
/* 悬浮框表格 */
.jc-table-hover>tbody>tr:hover>td{
    background-color: #ccc ;
    border-bottom:1px #ccc ;
    color: #ffffff ;
}
/* 紧缩表格 */
.jc-table-condensed>thead>tr>th,
.jc-table-condensed>tbody>tr>td,
.jc-table-condensed>tbody>tr>th{
    text-align: center;
    padding: 5px;
}
/* 各种状态颜色背景表格 */
.jc-table > thead > tr > td.jc-table-warning,
.jc-table > tbody > tr > td.jc-table-warning, 
.jc-table > tfoot > tr > td.jc-table-warning, 
.jc-table > thead > tr > th.jc-table-warning, 
.jc-table > tbody > tr > th.jc-table-warning, 
.jc-table > tfoot > tr > th.jc-table-warning, 
.jc-table > thead > tr.jc-table-warning > td, 
.jc-table > tbody > tr.jc-table-warning > td,
.jc-table > tfoot > tr.jc-table-warning > td, 
.jc-table > thead > tr.jc-table-warning > th, 
.jc-table > tbody > tr.jc-table-warning > th, 
.jc-table > tfoot > tr.jc-table-warning > th{
    background-color: #f56c6c;
    color: #fafafa;
    border-bottom: 1px solid #f56c6c;
}
.jc-table > thead > tr > td.jc-table-info,
.jc-table > tbody > tr > td.jc-table-info, 
.jc-table > tfoot > tr > td.jc-table-info, 
.jc-table > thead > tr > th.jc-table-info, 
.jc-table > tbody > tr > th.jc-table-info, 
.jc-table > tfoot > tr > th.jc-table-info, 
.jc-table > thead > tr.jc-table-info > td, 
.jc-table > tbody > tr.jc-table-info > td,
.jc-table > tfoot > tr.jc-table-info > td, 
.jc-table > thead > tr.jc-table-info > th, 
.jc-table > tbody > tr.jc-table-info > th, 
.jc-table > tfoot > tr.jc-table-info > th{
    background-color: #01AAED;
    color: #f3f3f3;
    border-bottom: 1px solid #01AAED;
}
.jc-table > thead > tr > td.jc-table-success,
.jc-table > tbody > tr > td.jc-table-success, 
.jc-table > tfoot > tr > td.jc-table-success, 
.jc-table > thead > tr > th.jc-table-success, 
.jc-table > tbody > tr > th.jc-table-success, 
.jc-table > tfoot > tr > th.jc-table-success, 
.jc-table > thead > tr.jc-table-success > td, 
.jc-table > tbody > tr.jc-table-success > td,
.jc-table > tfoot > tr.jc-table-success > td, 
.jc-table > thead > tr.jc-table-success > th, 
.jc-table > tbody > tr.jc-table-success > th, 
.jc-table > tfoot > tr.jc-table-success > th{
    background-color: #67c23a;
    color: #fafafa;
    border-bottom: 1px solid #67c23a;
}
.jc-table > thead > tr > td.jc-table-danger,
.jc-table > tbody > tr > td.jc-table-danger, 
.jc-table > tfoot > tr > td.jc-table-danger, 
.jc-table > thead > tr > th.jc-table-danger, 
.jc-table > tbody > tr > th.jc-table-danger, 
.jc-table > tfoot > tr > th.jc-table-danger, 
.jc-table > thead > tr.jc-table-danger > td, 
.jc-table > tbody > tr.jc-table-danger > td,
.jc-table > tfoot > tr.jc-table-danger > td, 
.jc-table > thead > tr.jc-table-danger > th, 
.jc-table > tbody > tr.jc-table-danger > th, 
.jc-table > tfoot > tr.jc-table-danger > th{
    background-color: #ff1022;
    color: #fafafa;
    border-bottom: 1px solid #ff1022;
}
.jc-table > thead > tr > td.jc-table-primary,
.jc-table > tbody > tr > td.jc-table-primary, 
.jc-table > tfoot > tr > td.jc-table-primary, 
.jc-table > thead > tr > th.jc-table-primary, 
.jc-table > tbody > tr > th.jc-table-primary, 
.jc-table > tfoot > tr > th.jc-table-primary, 
.jc-table > thead > tr.jc-table-primary > td, 
.jc-table > tbody > tr.jc-table-primary > td,
.jc-table > tfoot > tr.jc-table-primary > td, 
.jc-table > thead > tr.jc-table-primary > th, 
.jc-table > tbody > tr.jc-table-primary > th, 
.jc-table > tfoot > tr.jc-table-primary > th{
    background-color: #409eff;
    color: #fafafa;
    border-bottom: 1px solid #409eff;
}
.jc-table > thead > tr > td.jc-table-warm,
.jc-table > tbody > tr > td.jc-table-warm, 
.jc-table > tfoot > tr > td.jc-table-warm, 
.jc-table > thead > tr > th.jc-table-warm, 
.jc-table > tbody > tr > th.jc-table-warm, 
.jc-table > tfoot > tr > th.jc-table-warm, 
.jc-table > thead > tr.jc-table-warm > td, 
.jc-table > tbody > tr.jc-table-warm > td,
.jc-table > tfoot > tr.jc-table-warm > td, 
.jc-table > thead > tr.jc-table-warm > th, 
.jc-table > tbody > tr.jc-table-warm > th, 
.jc-table > tfoot > tr.jc-table-warm > th{
    background-color: hsl(51, 93%,54% );
    color: #fafafa;
    border-bottom: 1px solid hsl(51, 93%,54% )c;
}
/* 各种状态颜色渐变背景表格 */
.jc-table > thead > tr > td.jc-warning,
.jc-table > tbody > tr > td.jc-warning, 
.jc-table > tfoot > tr > td.jc-warning, 
.jc-table > thead > tr > th.jc-warning, 
.jc-table > tbody > tr > th.jc-warning, 
.jc-table > tfoot > tr > th.jc-warning, 
.jc-table > thead > tr.jc-warning > td, 
.jc-table > tbody > tr.jc-warning > td,
.jc-table > tfoot > tr.jc-warning > td, 
.jc-table > thead > tr.jc-warning > th, 
.jc-table > tbody > tr.jc-warning > th, 
.jc-table > tfoot > tr.jc-warning > th{
    background-color: #f56c6c;
    color: #fafafa;
    border: 1px solid #f56c6c;
}
.jc-table > thead > tr > td.jc-info,
.jc-table > tbody > tr > td.jc-info, 
.jc-table > tfoot > tr > td.jc-info, 
.jc-table > thead > tr > th.jc-info, 
.jc-table > tbody > tr > th.jc-info, 
.jc-table > tfoot > tr > th.jc-info, 
.jc-table > thead > tr.jc-info > td, 
.jc-table > tbody > tr.jc-info > td,
.jc-table > tfoot > tr.jc-info > td, 
.jc-table > thead > tr.jc-info > th, 
.jc-table > tbody > tr.jc-info > th, 
.jc-table > tfoot > tr.jc-info > th{
    background-color: #01AAED;
    color: #f3f3f3;
    border: 1px solid #01AAED;
}
.jc-table > thead > tr > td.jc-success,
.jc-table > tbody > tr > td.jc-success, 
.jc-table > tfoot > tr > td.jc-success, 
.jc-table > thead > tr > th.jc-success, 
.jc-table > tbody > tr > th.jc-success, 
.jc-table > tfoot > tr > th.jc-success, 
.jc-table > thead > tr.jc-success > td, 
.jc-table > tbody > tr.jc-success > td,
.jc-table > tfoot > tr.jc-success > td, 
.jc-table > thead > tr.jc-success > th, 
.jc-table > tbody > tr.jc-success > th, 
.jc-table > tfoot > tr.jc-success > th{
    background-color: #67c23a;
    color: #fafafa;
    border: 1px solid #67c23a;
}
.jc-table > thead > tr > td.jc-danger,
.jc-table > tbody > tr > td.jc-danger, 
.jc-table > tfoot > tr > td.jc-danger, 
.jc-table > thead > tr > th.jc-danger, 
.jc-table > tbody > tr > th.jc-danger, 
.jc-table > tfoot > tr > th.jc-danger, 
.jc-table > thead > tr.jc-danger > td, 
.jc-table > tbody > tr.jc-danger > td,
.jc-table > tfoot > tr.jc-danger > td, 
.jc-table > thead > tr.jc-danger > th, 
.jc-table > tbody > tr.jc-danger > th, 
.jc-table > tfoot > tr.jc-danger > th{
    background-color: #ff1022;
    color: #fafafa;
    border: 1px solid #ff1022;
}
.jc-table > thead > tr > td.jc-primary,
.jc-table > tbody > tr > td.jc-primary, 
.jc-table > tfoot > tr > td.jc-primary, 
.jc-table > thead > tr > th.jc-primary, 
.jc-table > tbody > tr > th.jc-primary, 
.jc-table > tfoot > tr > th.jc-primary, 
.jc-table > thead > tr.jc-primary > td, 
.jc-table > tbody > tr.jc-primary > td,
.jc-table > tfoot > tr.jc-primary > td, 
.jc-table > thead > tr.jc-primary > th, 
.jc-table > tbody > tr.jc-primary > th, 
.jc-table > tfoot > tr.jc-primary > th{
    background-color: #409eff;
    color: #fafafa;
    border: 1px solid #409eff;
}
.jc-table > thead > tr > td.jc-warm,
.jc-table > tbody > tr > td.jc-warm, 
.jc-table > tfoot > tr > td.jc-warm, 
.jc-table > thead > tr > th.jc-warm, 
.jc-table > tbody > tr > th.jc-warm, 
.jc-table > tfoot > tr > th.jc-warm, 
.jc-table > thead > tr.jc-warm > td, 
.jc-table > tbody > tr.jc-warm > td,
.jc-table > tfoot > tr.jc-warm > td, 
.jc-table > thead > tr.jc-warm > th, 
.jc-table > tbody > tr.jc-warm > th, 
.jc-table > tfoot > tr.jc-warm > th{
    background-color: hsl(51, 93%,54% );
    color: #fafafa;
    border: 1px solid hsl(51, 93%,54% )c;
}
/* 边框表格 */
.jc-table-border>tbody>tr>td,
.jc-table-border>thead>tr>th,
.jc-table-border>tfoot>tr>td{
    border: 1px solid #e0e0e0;
}
/* 黑色表格 */
.jc-table-inverse{
    background-color: #393d49;
}
.jc-table-inverse>tbody>tr>td{
    text-align: center;
    color: #fff;
    opacity: 0.3;
    border-bottom: 1px solid #888;
}
.jc-table-inverse>thead>tr>th,
.jc-table-inverse>tfoot>tr>td,
.jc-table-inverse>tbody>tr>th{
    text-align: center;
    border-bottom: 2px solid #000;
}
.jc-table-inverse>thead>tr>th:last-child,
.jc-table-inverse>tfoot>tr>td:last-child,
.jc-table-inverse>tbody>tr>th:last-child{
    border-right: 1px solid #393d49;
}
/* 黑色条形表格 */
.jc-table-inverse-striped>tbody>tr:nth-of-type(odd)>td{
    background-color: #383242;
    border-bottom: 1px solid #393d49;
    text-align: center;
}
.jc-table-inverse-striped>tbody>tr:nth-of-type(even)>td{
    background-color: #393d49;
    border-bottom: 1px solid #383242;
    text-align: center;
}
.jc-table-inverse-striped>thead>tr>th,
.jc-table-inverse-striped>tbody>tr>th{
    background-color: #393d49;
    border-bottom: 1px solid #303242;
    color: #ccc;
    font-weight: bold;
    text-align: center;
}
/* 黑色悬浮表格 */
.jc-table-inverse-hover.jc-table-inverse>tbody>tr:hover>td,
.jc-table-inverse-hover.jc-table-inverse-striped>tbody>tr:hover>td{
    background-color: #000;
    color: #fff;
}

/* 写兼容那个移动端的表格； */
@media screen and (max-width:768px) {
    .jc-table-responsive{
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        /* overflow-style: autohiding-scrollbar; */
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #e0e0e0;
    }
    .jc-table-responsive{
        /* 当到达移动端收；不让加大高度 */
        min-height: .01%;
        overflow-x: auto;
    }
}
/* 实现横向滚动表格 */
@media screen and (max-width: 768px){
    .jc-table-responsive > .jc-table > thead > tr > th,
    .jc-table-responsive > .jc-table > tbody > tr > th, 
    .jc-table-responsive > .jc-table > tfoot > tr > th, 
    .jc-table-responsive > .jc-table > thead > tr > td,
    .jc-table-responsive > .jc-table > tbody > tr > td, 
    .jc-table-responsive > .jc-table > tfoot > tr > td {
        white-space: nowrap;
    }
}
/* 
    没有做：等宽选择器 
    给td设置最小宽度
*/